<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Account Verification</title>
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f4f4f4">
        <tr>
            <td>
                <table align="center" width="600" cellpadding="0" cellspacing="0" border="0"
                    style="background-color: #ffffff; margin-top: 30px; border-radius: 6px;">
                    <tr>
                        <td>
                            <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <h1 style="color: #333; font-size: 24px;">Account Verification</h1>
                                        <p>Hello {{username}},</p>
                                        <p>Your verification token to EMS is:</p>

                                        <p><b>
                                                <center>{{token}}</center>
                                            </b></p>

                                        <p><b>
                                                <center><a href="{{activation_link}}">Activate Account</a></center>
                                            </b></p>

                                        <p>Thank you for choosing EMS. If you need assistance, contact us.</p>

                                        <p>Best regards,<br> <br>Event Management System</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>